frontend/node_modules/
backend/node_modules/
node_modules/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/

# VS Code
.vscode/

# Docker
*.log
docker-compose.override.yml
docker-compose.*.yml

# OS
.DS_Store
Thumbs.db